<div class="form-group">
  <button type="button"
    data-toggle="modal"
    data-target="#mathjax-guide"
    class="mt-1 mb-3 float-right btn btn-info">
    See MathJax Guide
  </button>
</div>

<div class="form-group">
    <label for="questionText">Question text</label>
    <textarea
      name="questionText"
      class="form-control"
      required><%= question.questionText %></textarea>
</div>

<div class="form-group">
    <div class="m-4 js-image">
      <img
        class="mw-100 w-50 <%= (!question.imageSrc) ? 'd-none' : '' %>"
        src="<%= question.imageSrc %>" />
    </div>

    <label for="imageSrc">Image URL</label>
    <input
      type="text"
      name="imageSrc"
      value="<%= question.imageSrc %>"
      class="form-control"
    />
    <div style="font-size: 80%;">
      full URL
      (<pre style="display: inline;">https://domain.com/image.png</pre>)
      or absolute path
      (<pre style="display: inline;">/static/question_images/image.png</pre>)
    </div>
</div>

<div class="form-group">
    <label for="possibleAnswers">Answer choices (at least two are required)</label>
    <% question.possibleAnswers.forEach(({txt, val}, i) => { %>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <%= val %>
          </span>
        </div>
        <input
          type="hidden"
          name="possibleAnswers[][val]"
          value="<%= val %>"
        />
        <input
          type="text"
          name="possibleAnswers[][txt]"
          value="<%= txt %>"
          class="form-control"
          <%= (i < 2) ? 'required' : '' %>
        />
    </div>
    <% }) %>
</div>

<div class="form-group">
    <label for="correctAnswer">Correct Answer</label>
    <input
      type="text"
      name="correctAnswer"
      value="<%= question.correctAnswer %>"
      class="form-control"
      required
    />
</div>

<div class="form-group">
    <label for="category">Category</label>
    <input
      type="text"
      name="category"
      value="<%= question.category %>"
      class="form-control"
      required
    />
</div>

<div class="form-group">
    <label for="subcategory">Subcategory</label>
    <input
      type="text"
      name="subcategory"
      value="<%= question.subcategory %>"
      class="form-control"
      required
    />
</div>

<button type="button" class="mt-4 btn btn-primary js-save-button">Save</button>
<button type="button" class="mt-4 btn btn-secondary js-cancel-button">Cancel</button>
<span class="mt-4 mb-0 js-form-flash"></span>
