<div class="ml-4 small">
    <a class="js-category-link"
      href="/edu/questions?category=<%= encodeURIComponent(question.category) %>">
        <span class="js-category">
            <%= question.category %>
        </span>
    </a>
    &gt;
    <a
      class="js-subcategory-link"
      href="/edu/questions?category=<%= encodeURIComponent(question.category) %>&subcategory=<%= encodeURIComponent(question.subcategory) %>">
        <span class="js-subcategory">
            <%= question.subcategory %>
        </span>
    </a>
</div>

<div class="m-4 js-questionText">
    <%= question.questionText %>
</div>

<div class="m-4 js-image">
  <img
    class="mw-100 w-50 <%= (!question.imageSrc) ? 'd-none' : '' %>"
    src="<%= imagePaths[question._id] %>" />
</div>

<div class="m-4 js-possibleAnswers">
    <% question.possibleAnswers.forEach(({txt, val}) => { %>
      <div
        class="
          js-possibleAnswer
          js-possibleAnswers-<%= val %>
          <%= (val === question.correctAnswer) ? 'font-weight-bold' : '' %>
        ">
        <%= val %>. <%= txt %>
    </div>
    <% }) %>
</div>

<button
  type="button"
  class="mt-4 ml-4 mr-0 mb-0 btn btn-primary js-edit-button">
  Edit
</button>

<button
  type="button"
  class="mt-4 ml-0 mr-4 mb-0 btn btn-danger js-delete-button <%= (!questionId) ? 'd-none' : '' %>">
  Delete
</button>

<span class="js-tile-flash"></span>
